*{ box-sizing: border-box;}

html,body{
    background: #000000;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Poppins;
   
}
@font-face {
    font-family: 'Wishful Display';
    font-style: normal;
    font-weight: normal;
    src: local('Wishful Display'), url('Wishful.woff') format('woff');
    }

    .head{
        width: 100%;display: flex;flex-direction: column;position: relative;height: 100%;
        background-image: url(assets/backdrop.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;

      
    }
   
    
    .nav{
        display: block;
    }

    .li{
        list-style: none;display: flex;margin: 5px;padding: 10px;justify-content: center;align-items: center;}
    .ul{
        margin: 2px;
    }
    .items{
        text-decoration: none;
        text-align: center;
        position: relative;
        color:#f3f3f3 ;
        transition: 0.5s;
        font-family: Codystar;
        
    }
    .items::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: #f3f3f3;
        transition: 0.5s ease-out;
    }
    .items:hover::after{
        width: 100%;
    }
    .log{
        width: 50px;height: 50px;
    }
   .title{
        display: flex;margin:0 0 7em 0;padding:0;flex-direction: column;align-items: center;justify-content: center;
       }
     .banner{
      width: 700px;
      height: 200px;
     }

      .name1{
        color: #f3f3f3;font-family:Poppins ;font-size: 14px;text-align: center;margin:30px 0px 0px 0;
        padding: 0;line-height: 1.5;letter-spacing: 1px;border-left: solid 4px red;width: 47%;
      }
   
      .btn-grp{
        display: flex;justify-content: center;align-items: center;margin-top: 40px;
      }
      .atrr{
        text-decoration: none;color: #f3f3f3;padding: 15px ;cursor:pointer;font-family: Montserrat Alternates ;font-size: 15px;
      }
      .btn{
        padding: 15px ; width: 150px;background-color: red;border: none; border-radius: 20px;
      }
      .btn:hover{
        background-color: #0C0C0C;
      }
 
  .cont-middle{
    display: flex;justify-content: center;align-items: center;;
  }
  .vd-intro{
    width: 70vw;border-radius: 40px;
  }
  .para{
    color: white;font-family: Alex Brush ;font-size: 40px;padding: 0px 20px 10px 20px;
  }
  .parag{
    color: white;font-family:Poppins ;line-height: 2;text-align: center;padding: 0 50px 50px 50px;
  }
  .para1{
    color: rgb(239, 255, 92);font-family: Alex Brush ;font-size: 40px;padding: 0px 20px 120px 20px;
  }
